[run]
 branch = True
 source = .
 omit =
  manage.py
  ./src/*
  ./contact_keeper/tests/*
  ./contact_keeper/migrations/*
  ./contact_keeper/__init__.py
  ./contact_keeper/admin.py
  ./contact_keeper/apps.py