{% extends "base.html" %}
{% block content %}

<div class='login_card'>
    <h2 class='login_card__title'>Login</h2>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class='login_card__field'>
        <label class='login_card__label'>{{ form.username.label_tag }}</label>
        <span class='login_card__input'>
            <i class="login_card__input__icon fas fa-user"></i>
            {{ form.username }}
        </span>
    </div>
    <div class='login_card__field'>
        <label class='login_card__label'>{{ form.password.label_tag }}</label>
        <span class='login_card__input'>
            <i class="login_card__input__icon fas fa-lock"></i>
            {{ form.password }}
        </span>
    </div>

    <button type="submit" class='login_card__button'>Login</button>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
</div>

{% comment %} TODO: set up PW reset {% endcomment %}
{% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

{% endblock %}