{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block content %}
<div class='register_card'>
  <h2 class='register_card__title'>Register</h2>
  <form method="post">
    {% csrf_token %}
    <div class='register_card__field'>
      <label class='register_card__label'>{{ form.username.label_tag }}</label>
      <span class='register_card__input'>
          <i class="register_card__input__icon fas fa-user"></i>
          {% render_field form.username hx-post='/check_username/' hx-trigger='keyup' hx-target='#username-error' %}
      </span>
      <div id='username-error'></div>
      {{ form.username.errors }}
  </div>
  <div class='register_card__field'>
    <label class='register_card__label'>{{ form.password1.label_tag }}</label>
    <span class='register_card__input'>
        <i class="register_card__input__icon fas fa-lock"></i>
        {{ form.password1 }}
    </span>
  </div>
  <div class='register_card__field'>
    <label class='register_card__label'>{{ form.password2.label_tag }}</label>
    <span class='register_card__input'>
        <i class="register_card__input__icon fas fa-unlock"></i>
        {{ form.password2 }}
    </span>
    <span>{{ form.password2.errors }}</span>
  </div>
    <button class='register_card__button' type="submit">Register</button>
    {{ form.non_field_errors }}
  </form>
</div>
{% endblock %}