
/* Globals */

$nav-color: #5763B7;
$blue: #2c2ce5;
$green: #1eae1e;
$white: #FFFFFF;
$yellow: yellow;
$teal: #54b9ce;
$black: black;
$grey: #b6b6b6;
$drk-grey: #6b6b6b;
$lgt-grey: #c5c5c5;
$maroon: #771a4a;
$red: #d63030;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-size: 100%;
}

button {
	cursor: pointer;
	border-radius: 3px;
	border: none;
	padding: .3rem .5rem;
	font-size: .8rem;
	color: $white;

	&:hover {
		filter: brightness(90%);
	}
}

a:hover {
  text-decoration: none;
	color: $yellow;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
	padding: 0 .3rem;
}

ul {
	list-style: none;
}

/* Main */

.main {
		@media (min-width: 1200px) {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80vh;
	}
}

.nav {
	&__wrapper {
		display: flex;
		justify-content: space-around;
		background-color: $nav-color;
		width: 100%;
		padding:.5rem;
	}
	&__item {
		display: inline;

		&__title, &__link, &__icon {
			color: $white;
		}

		&__link:hover &__title, &__link:hover &__icon {
			color: yellow
		}
	}
}

.login_card, .register_card {
	width: 90vw;
  margin: auto;
	margin-top: 2rem;
	border-radius: 6px;
	text-align: center;
	box-shadow: -1px 5px 17px -2px rgba(0,0,0,0.79)
	;
	padding: 1.5rem 1rem;

	&__title {
		font-size: 1.2rem;
		text-align: center;
	}

	&__field {
		margin-top: .4rem;
	}

	&__label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	&__input {
		&__icon {
			color: $grey;
			margin-right: .2rem;
		}

		input {
			width: 100px;
			border: none;
			border-bottom: 1px solid $grey;
			font-size: .8rem;
		}
	}

	&__button {
		background-color: $teal;
		margin-top: 1.5rem;
	}
}

.test {
	display: flex;
}

.add_contact {
	text-align: center;
	max-width: 500px;
	margin: auto;
	
	@media (min-width: 1200px) {
		width: 95%;
		height: 100%;
		margin: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__upper {
		@media (min-width: 1200px) {
			display: flex;
			flex-direction: column;
			justify-content: end;
			flex: .45;
		}
	}

	form {
		flex: 1
	}

	&__title {
		font-weight: 300;
	}

	&__fields {
		width: 80%;
		margin: auto;
	}

	&__field {
		&__label {
			text-align: left;
			color: $drk-grey
		}
		&__input {
			input {
				width: 100%;
				border: 1px solid $grey;
				border-radius: 3px;
			}
		}
	}

	&__radios > div {
		display: flex;
		justify-content: space-around;
		font-size: .8rem;
	}

	&__add_btn, &__edit_btn {
		width: 100%;
		background-color: $maroon;
	}
}

.contacts {
	max-width: 500px;
	margin: auto;
	margin-top: 2rem;
	text-align: center;

	@media (min-width: 1200px) {
		width: 95%;
		height: 100%;
		margin: 0rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__upper {
		@media (min-width: 1200px) {
			flex: .5;
			display: flex;
			flex-direction: column;
			justify-content: end;
		}
	}

	&__cards {
		@media (min-width: 1200px) {
			flex: 1;
		}
	}

	&__title {
		font-weight: 300;
	}

	&__cards {
		height: 300px;
		overflow: scroll;
	}

	&__msg {
		margin-top: 1rem;
		font-size: 1.2rem;
	}
}

.contact_card {
	text-align: left;
	margin: auto;
	margin-top: 1rem;
	padding: 1rem 2rem;
	width: 80%;
	border-radius: 5px;
	background: $lgt-grey;

	&__name {
		font-weight: 500;
		font-size: 1.1rem;
		color: $blue;

		&--wrapper {
			display: flex;
			justify-content: space-between;
		}
	}

	&__badge {
		display: inline;

		span {
			color: $white;
			font-size: .8rem;
			padding: 5px;
			border-radius: 5px;
		}

		&--professional {
			background-color: $blue;
		}

		&--personal {
			background-color: $green;
		}
	}

	&__buttons {
		display: flex;
		justify-content: left;
	}

	&__button {
		&--edit {
			background-color: $black;
			margin-right: 1rem;
		}
		&--delete {
			background-color: $red;
		}
	}
}

.phone-field-ext, #id_phone_1 {
	display: none;
}

.errorlist {
	margin-top: .5rem;
	list-style-type: none;
}
