
/* Globals */

$nav-color: #5763B7;
$white: #FFFFFF;
$yellow: yellow;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-size: 100%;
}

button {
	cursor: pointer;
}

a:hover {
  text-decoration: none;
	color: $yellow;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Main */

.nav {
	&__wrapper {
		display: flex;
		justify-content: space-around;
		background-color: $nav-color;
		width: 100%;
		padding:.5rem;
	}
	&__item {
		display: inline;

		&__title, &__link, &__icon {
			color: $white;
		}

		&__title:hover, &__icon:hover {
			color: $yellow;
		}
	}
}

.contacts {
	margin-top: 1rem;
}

.contact_cards {
	height: 300px;
	overflow: scroll;
}

.contact_card {
	margin-top: 1rem;
}

.phone-field-ext, #id_phone_1 {
	display: none;
}

.errorlist {
	color: red;
}
