{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='add_contact'>
	<h2>Add Contact</h2>
	<form action='/' method='post'>
		{% csrf_token %}
	{{ contact_form.as_p }}
	<button type="submit" class="submit_btn btn label-success">Add Contact</button>
	</form>
</div>

<div class='contacts'>
	<h2>Contact List</h2>
		<div class='contact_cards'>
			{% for contact in contacts  %}
				<div class='contact_card'>
					<ul class='contact_list'>
						<li class='contact contact__name'>{{contact.name}}</li>
						<li class='contact contact__email'>{{contact.email}}</li>
						<li class='contact contact__phone'>{{contact.phone}}</li>
						<li class='contact contact__type'>{{contact.contact_type}}</li>
						<button class='contact__button contact__button--edit'>Edit</button>
						<button class='contact__button contact__button--delete'>Delete</button>
					</ul>
				</div>
			{% endfor %}
	</div>
</div>

<script>
	const phoneField = document.getElementById('id_phone_0')
	phoneField.addEventListener('keydown', formatPhoneNumber)
	
	function formatPhoneNumber(event) {
		if ((!isFinite(event.key) || event.target.value.length > 12) && event.key !== 'Backspace') {
			event.preventDefault()
		} 

		// removes ')' or '-' along w/ number if backspaced over
		if ((event.target.value.slice(-1) === '-' || event.target.value.slice(-1) === ')') && event.key === 'Backspace') {
			event.target.value = event.target.value.slice(0, -1)
			return
		}

		if (event.target.value.length === 3 && !event.target.value.includes('(')) {
			event.target.value = '(' + event.target.value + ')';
		} else if (event.target.value.length === 4 && event.target.value.includes('(')) {
			event.target.value = event.target.value + ')';
		} else if (event.target.value.length === 8) {
			event.target.value = event.target.value + '-';
		}
	}
</script>

{% endblock content %}
