{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='add_contact'>
	{% if 'edit' in request.path %}
		<h2 class='add_contact__title'>Edit Contact</h2>
	{% else %}
		<h2 class='add_contact__title'>Add Contact</h2>
	{% endif %}
	{% if 'edit' in request.path %}
	<form action="{% url 'edit_contact' pk %}" method='post'>
	{% else %}
	<form action='/' method='post'>
	{% endif %}
		{% csrf_token %}
		<div class='add_contact__fields'>
			<div class='add_contact__field'>
				<p class='add_contact__field__label'>{{contact_form.name.label}}</p>
				<p class='add_contact__field__input'>{{contact_form.name}}</p>
			</div>
			<div class='add_contact__field'>
				<p class='add_contact__field__label'>{{contact_form.email.label}}</p>
				<p class='add_contact__field__input'>{{contact_form.email}}</p>
			</div>
			<div class='add_contact__field'>
				<p class='add_contact__field__label'>{{contact_form.phone.label}}</p>
				<p class='add_contact__field__input'>{{contact_form.phone}}</p>
			</div>
			<div class='add_contact__field'>
				<p class='add_contact__field__label'>{{contact_form.contact_type.label}}</p>
				<div class='add_contact__radios'>
					{{contact_form.contact_type}}
				</div>
			</div>
			{% if 'edit' in request.path %}
			<button type="submit" class="add_contact__edit_btn">Edit Contact</button>
			{% else %}
			<button type="submit" class="add_contact__add_btn">Add Contact</button>
			{% endif %}
		</div>
	</form>
</div>

<div class='contacts'>
	<h2>Contact List</h2>
	<form action="/">
		{% if filter %}
		<input name="filter" value={{filter}} />
		{% else %}
		<input name="filter" placeholder="Filter Contacts..." />
		{% endif %}
	</form>
		<div class='contact_cards'>
			{% if contacts %}
				{% for contact in contacts  %}
				<div class='contact_card'>
					<ul class='contact_list'>
						<li class='contact contact__name'>{{contact.name}}</li>
						<li class='contact contact__email'>{{contact.email}}</li>
						<li class='contact contact__phone'>{{contact.phone}}</li>
						<li class='contact contact__type'>{{contact.contact_type}}</li>
						<form action="{% url 'delete_contact' contact.id %}" method="post">
							{% csrf_token %}
							<button class='contact__button contact__button--delete' type="submit">Delete</button>
						</form>
						<form action="{% url 'edit_contact' contact.id %}">
							{% csrf_token %}
							<button class='contact__button contact__button--edit' type="submit">Edit</button>
						</form>
					</ul>
				</div>
			{% endfor %}
			{% elif filter %}
				<p>No contacts found with that filter</p>
			{% else %}
				<p>Add contacts above</p>
			{% endif %}
	</div>
</div>

<script>
	const phoneField = document.getElementById('id_phone_0')
	phoneField.addEventListener('keydown', formatPhoneNumber)
	
	function formatPhoneNumber(event) {
		if ((!isFinite(event.key) || event.target.value.length > 12) && event.key !== 'Backspace') {
			event.preventDefault()
		} 

		// removes ')' or '-' along w/ number if backspaced over
		if ((event.target.value.slice(-1) === '-' || event.target.value.slice(-1) === ')') && event.key === 'Backspace') {
			event.target.value = event.target.value.slice(0, -1)
			return
		}

		if (event.target.value.length === 3 && !event.target.value.includes('(')) {
			event.target.value = '(' + event.target.value + ')';
		} else if (event.target.value.length === 4 && event.target.value.includes('(')) {
			event.target.value = event.target.value + ')';
		} else if (event.target.value.length === 8) {
			event.target.value = event.target.value + '-';
		}
	}
</script>

{% endblock content %}
